

@font-face{
    font-family: 'libertinus';
    src: url('./fonts/libertinussans-bold-webfont.woff2');
    font-weight: 800;
    font-style: normal;
}


@font-face {
    font-family: 'libertinus';
    src: url('./fonts/libertinussans-italic-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: italic;

}




@font-face {
    font-family: 'libertinus';
    src: url('./fonts/libertinussans-regular-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;

}


@font-face{
    font-family: 'caveat_brush';
    src: url('./fonts/caveatbrush-regular-webfont.woff2');
    font-style: regular;
    font-weight: regular;
}



@font-face {
    font-family: 'oswald';
    src: url('./fonts/oswald-variablefont_wght-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'indie_flower';
    src: url('./fonts/indieflower-regular-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}


* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
}


/* reset button styling */
button, input[type="submit"], input[type="reset"] {
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

:root{
    --raw-umber: #99643eff;
    --ut-orange: #f88517ff;
    --lion: #c89c7bff;
    --bistre: #2f200eff;
    --timberwolf: #dfd5ccff;
    --timberwolf-light: rgb(248, 240, 234);
    --sienna: #752d0fff;


    --std-shadow: 0px 5px 10px rgba(0, 0, 0, 0.59);
    --img-shadow: rgba(0, 0, 0, 0.881) 1.95px 1.95px 2.6px;
}


body{
    background-color: var(--timberwolf);

    background: linear-gradient(to right, var(--timberwolf),var(--timberwolf-light));
    font-family: "libertinus", sans-serif;
}

header{
    width: 40px;
    height: 70px
}

#header-wrapper{
    width: 100%;
    height: 500px;
    background-image: url("imgs/pizza.jpg");
    background-position: 50% 60%;
    background-size: cover;

    display: flex;
    flex-direction: column;
    gap: 40px;


    box-shadow: var(--std-shadow);

}


header {
    width: 100%;
    display: flex;
    justify-content: center;
}

#header-wrapper nav {
    margin-top: 20px;
    font-size: 2.5rem;
    color: rgb(255, 255, 255);
    width: fit-content;
    
    display: flex;
    justify-content:space-between;
    align-items: center;
    gap: 100px;
}

nav button:hover{
    /* text-shadow: 0px 0px 20px rgb(255, 255, 255); */
    border-bottom: 1px solid white;
}

#restaurant-title{
    /* font-family: "indie_flower"; */
    font-family: "caveat_brush";
    font-size: 7rem;
    color: rgb(255, 255, 255);


    align-self: center;
}


#content{
    width: 100%;
    display:grid;
    grid-template-columns: repeat(3, minmax(300px, 1fr));


    padding: 40px 100px;
    row-gap: 80px;
}

#content img {
    width: 100%;
    height: 500px;
    margin: 10px;
    object-fit: cover;
    border-radius: 20px;
    border: none;
    box-shadow: var(--img-shadow);
   
}

#content div {
    font-size: 2.2rem;
    padding: 10px 100px;
    line-height: 1.5em;
}

#content div.right-para{
    padding-right: 10px;
    padding-left: 200px;
} 

#content div.left-para{
    padding-right: 200px;
    padding-left: 10px;
}

#introduction-toni{
    grid-column: 1/-2; 
    grid-row: 1;
}

#toni-village{
    grid-column: -2/-1;
    grid-row:1;
}

#tomatoes{
    grid-column: 1/2;
    grid-row: 2;
}

#seasonal-local-eco{
    grid-column: 2/-1;
    grid-row:2;
}

#today-toni{
    grid-column: 1/-2;
    grid-row:3;
}

#pizzeria{
    grid-column: 1/2;
    grid-row:4;
}

#toni-philosophy{
    grid-column:2/-1;
    grid-row:4;
}

#content #toni-call-to-action{
    grid-row:5;
    grid-column: 1/-1;
    font-size: 4rem ;
} 



li {
    list-style: none;
}


footer {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: var(--lion);
    color: var(--timberwolf);
    font-size: 1rem;


}


/*

*/

/* <p id="introduction-toni">Toni opened this place in 1972 with a wood-fired oven, a few folding chairs, and dough that took two days to ferment. 
            He believed in simple things done right. 
            He sourced tomatoes from the farm outside town and mozzarella from a neighbor who made it fresh. 
            People came in for the pizza but stayed because they felt welcome.
        </p>


        <p id="seasonal-local-eco">
            Three generations later, we still do it the same way. The dough rests for 48 hours. 
            The sauce is made each morning. We chop vegetables and grate cheese by hand. 
            Every ingredient we use is local, seasonal, and grown without chemicals. We don’t cut corners. 
            We don’t freeze anything. We bake everything fresh, every day.
        </p>

        <p id="today-toni">
            We’re still in the same spot. The oven has been replaced, but not the spirit. 
            Some of our regulars have been coming here since they were kids. Now they bring their kids.
            Toni’s has always been more than a pizzeria. It’s a meeting point. 
            A place where the neighborhood gathers, talks, and celebrates. 
        </p>
        
        <p id="toni-philosophy">
            We host small events.
            We welcome everyone. No dress code. No reservations. Just good food and open doors.
        </p>
        
        <p id="toni-call-to-action">

#introduction-toni{
    grid-column-start: 0; 
    grid-row-start: 0;
}

#seasonal-local-eco{

}

#today-toni{

}

#toni-philosophy{

}

#toni-call-to-action{}
 */
