

@font-face{
    font-family: 'libertinus';
    src: url('./fonts/libertinussans-bold-webfont.woff2');
    font-weight: 800;
    font-style: normal;
}


@font-face {
    font-family: 'libertinus';
    src: url('./fonts/libertinussans-italic-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: italic;

}




@font-face {
    font-family: 'libertinus';
    src: url('./fonts/libertinussans-regular-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;

}


@font-face{
    font-family: 'caveat_brush';
    src: url('./fonts/caveatbrush-regular-webfont.woff2');
    font-style: regular;
    font-weight: regular;
}



@font-face {
    font-family: 'oswald';
    src: url('./fonts/oswald-variablefont_wght-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'indie_flower';
    src: url('./fonts/indieflower-regular-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}


* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
}


/* reset button styling */
button, input[type="submit"], input[type="reset"] {
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

:root{
    --raw-umber: #99643eff;
    --raw-umber-trans: rgba(153, 100, 62, 0.072);
    --ut-orange: #f88517ff;
    --lion: #c89c7bff;
    --bistre: #2f200eff;
    --timberwolf-dark: rgb(208, 201, 195);
    --timberwolf: #dfd5ccff;
    --timberwolf-light: rgb(248, 240, 234);
    --sienna: #752d0fff;


    --std-shadow: 0px 5px 10px rgba(0, 0, 0, 0.59);
    --sym-shadow: 0px 0px 10px rgba(0, 0, 0, 0.559);
    --img-shadow: rgba(0, 0, 0, 0.881) 1.95px 1.95px 2.6px;
}


body{
    background-color: var(--timberwolf);

    background: linear-gradient(to right, var(--timberwolf),var(--timberwolf-light));
    font-family: "libertinus", sans-serif;

    display: flex;
    flex-direction: column;
}

header{
    width: 40px;
    height: 70px
}

#header-wrapper{
    width: 100%;
    height: 500px;
    background-image: url("imgs/pizza.jpg");
    background-position: 50% 60%;
    background-size: cover;

    display: flex;
    flex-direction: column;
    gap: 40px;


    box-shadow: var(--std-shadow);

}


header {
    width: 100%;
    display: flex;
    justify-content: center;
}

#header-wrapper nav {
    margin-top: 20px;
    font-size: 2.5rem;
    color: rgb(255, 255, 255);
    width: fit-content-grid;
    
    display: flex;
    justify-content:space-between;
    align-items: center;
    gap: 100px;
}

nav button:hover{
    /* text-shadow: 0px 0px 20px rgb(255, 255, 255); */
    border-bottom: 1px solid white;
}

#restaurant-title{
    /* font-family: "indie_flower"; */
    font-family: "caveat_brush";
    font-size: 7rem;
    color: rgb(255, 255, 255);


    align-self: center;
}


#content{
    width: 100%;
    padding: 40px 100px;
    flex:1;
    min-height: 70vh;
    
}


li {
    list-style: none;
}


footer {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: var(--lion);
    color: var(--timberwolf);
    font-size: 1rem;


}


#home-grid{
    display:grid;
    grid-template-columns: repeat(3, minmax(300px, 1fr));
    row-gap: 80px;



}



/* HOMEPAGE CSS */

#home-grid img {
    width: 100%;
    height: 500px;
    margin: 10px;
    object-fit: cover;
    border-radius: 20px;
    border: none;
    box-shadow: var(--img-shadow);
   
}

#home-grid div {
    font-size: 2.2rem;
    padding: 10px 100px;
    line-height: 1.5em;
}

#home-grid div.right-para{
    padding-right: 10px;
    padding-left: 200px;
} 

#home-grid div.left-para{
    padding-right: 200px;
    padding-left: 10px;
}

#introduction-toni{
    grid-column: 1/-2; 
    grid-row: 1;
}

#toni-village{
    grid-column: -2/-1;
    grid-row:1;
}

#tomatoes{
    grid-column: 1/2;
    grid-row: 2;
}

#seasonal-local-eco{
    grid-column: 2/-1;
    grid-row:2;
}

#today-toni{
    grid-column: 1/-2;
    grid-row:3;
}

#pizzeria{
    grid-column: 1/2;
    grid-row:4;
}

#toni-philosophy{
    grid-column:2/-1;
    grid-row:4;
}

#home-grid #toni-call-to-action{
    grid-row:5;
    grid-column: 1/-1;
    font-size: 4rem ;
} 



/* MENU PAGE CSS */

#recipe-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 300px;
    row-gap: 40px;
    column-gap: 40px;
}


.recipe-card {
    border: 2px solid var(--raw-umber-trans);
    border-radius: 20px;
    padding: 20px 50px;
    display: grid;
    grid-column: 1/-1;

    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr 4fr;
    box-shadow: var(--sym-shadow);
}

.recipe-card h4 {
    grid-column: 1/-1;
    grid-row: 1;

    font-size: 2rem;
    font-weight: 400;
    padding-bottom: 5px;
    margin-bottom: 20px;
    border-bottom: 1px solid var(--bistre);

}

.recipe-card img{
    grid-column: 1/2;
    grid-row: 2;

    
    height: 200px;
    width: 300px;
    object-fit: cover;

    border-radius: 10px;
    
}

.recipe-card .desc{
    grid-column: 2/3;
    grid-row: 2;
}


.recipe-card .price{
    grid-column: 3/4;
    grid-row: 2;

    font-size: 1.7rem;
    align-self: start;
    justify-self: end;
}

.recipe-card .desc ul{
    font-size: 1.7rem;
    font-weight: 400;
}

.recipe-card-small{
    border: 2px solid var(--raw-umber-trans);
    border-radius: 20px;
    padding: 20px 50px;
    display: grid;

    grid-template-rows: 1fr 5fr;
    grid-template-columns: 2fr 1fr;
    box-shadow: var(--sym-shadow);
}

.recipe-card-small h4{
    grid-column: 1/-1;
    grid-row: 1;

    font-size: 2rem;
    font-weight: 400;
    padding-bottom: 5px;
    margin-bottom: 20px;
    border-bottom: 1px solid var(--bistre);
}

.recipe-card-small .beverage-prices{
    justify-self: end;
}

.recipe-card-small .dessert-prices{
    justify-self: end;
}